---
import { getEntries } from 'astro:content';

import { navigation, footer } from '@content/globals';

const links = await getEntries(footer.links.map((link) => link.link));
---

<footer>
  <div class="container">
    <div class="grid">
      <nav class="navigation" aria-label="primary navigation placed in footer">
        <ol>
          {
            navigation.links.map((link) => (
              <li>
                <a href={`/#${link.anchor}`} class="h1">
                  {link.title}
                </a>
              </li>
            ))
          }
        </ol>
      </nav>
      <div class="content">
        <a
          href="/"
          class="title link-animated"
          aria-label="Home Graswald & Schaetzle"
        >
          <svg viewBox="0 0 298 31" fill="none" aria-hidden="true">
            <path
              d="M142.1 30.96H140.62L149.34 0H150.81L142.1 30.96ZM12.0801 2.0498C18.36 2.04983 22.32 5.40049 22.75 10.9805H19.04C18.55 7.36049 15.91 5.33011 12.0801 5.33008C6.95014 5.33008 3.79988 9.37991 3.7998 15.0498C3.7998 20.7198 6.89996 24.7499 12.3799 24.75C16.4099 24.75 19.4502 22.1798 19.4502 17.5898H10.9004V14.6699H22.8701V27.6104H20.3896L19.9805 23.2598C18.5905 26.0697 16.0402 27.9803 11.9404 27.9805C4.62045 27.9705 3.12416e-05 22.79 0 15.0801C0 7.37008 4.71008 2.0498 12.0801 2.0498ZM46.2998 9.29004C50.3898 9.29004 53.3496 11.22 53.3496 15.21H53.3398V27.6104H49.9902V24.6797C49.3402 25.8997 47.5096 27.9697 43.8896 27.9697C40.4899 27.9696 37.8302 26.2099 37.8301 22.9102C37.8301 19.6102 40.2799 18.0601 45.2998 17.3301C48.5898 16.8501 50 16.4696 50 14.8096C49.9997 13.1498 48.4694 12.0596 46.3496 12.0596C43.61 12.0597 42.2797 13.43 42.0996 15.8896H38.7002C38.8103 12.4698 41.0601 9.29012 46.2998 9.29004ZM105.39 9.29004C109.48 9.29004 112.44 11.22 112.44 15.21H112.43V27.6104H109.08V24.6797C108.43 25.8996 106.6 27.9695 102.98 27.9697C99.5805 27.9697 96.92 26.2101 96.9199 22.9102C96.9199 19.6102 99.3699 18.0601 104.39 17.3301C107.68 16.8501 109.09 16.4696 109.09 14.8096C109.09 13.1499 107.56 12.0597 105.44 12.0596C102.701 12.0596 101.371 13.4299 101.19 15.8896H97.79C97.9002 12.4699 100.15 9.29018 105.39 9.29004ZM138.05 27.6104H134.56V25C134.059 25.99 132.42 27.9695 128.98 27.9697C124.25 27.9697 121.28 24.2398 121.28 18.7598C121.28 12.8899 124.74 9.25977 129.2 9.25977C131.7 9.25983 133.72 10.4305 134.56 12.1904V2.0498H138.05V27.6104ZM162.02 2.05957C167.819 2.05957 171.83 4.68995 172.37 11.0898H168.64C168.26 7.58007 166.39 5.34975 161.94 5.34961C159.17 5.34961 156.56 6.73996 156.56 9.37988C156.56 11.7899 157.97 13.0202 162.86 14.2002C167.39 15.3002 171.01 16.9205 171.01 21.3604C171.01 25.8001 167.77 27.9697 162.8 27.9697C157.17 27.9697 153.91 24.7997 153.5 20.0098H157.26C157.6 23.2097 159.69 24.7401 162.97 24.7402L162.99 24.75C165.83 24.7499 167.18 23.5599 167.18 21.46C167.18 18.99 165.41 18.0701 160.66 16.9102C155.58 15.6602 152.79 13.6 152.79 9.33008C152.79 4.61024 157.33 2.05974 162.02 2.05957ZM181.35 9.29004C185.83 9.29004 188.93 12.03 189.34 16.1299H185.92C185.58 13.6616 183.832 12.1319 181.385 12.1299C178.018 12.1329 176.1 15.0818 176.1 18.6299C176.1 22.4797 178.3 25.1102 181.64 25.1104C184.38 25.1104 185.71 23.4896 186.16 21.3096H189.56C189.02 25.2496 186.32 27.9697 181.6 27.9697C175.86 27.9695 172.6 23.8101 172.6 18.6104C172.6 13.4105 175.93 9.29024 181.35 9.29004ZM217.97 9.29004C222.06 9.29004 225.02 11.22 225.02 15.21H225.01V27.6104H221.66V24.6797C221.01 25.8997 219.18 27.9697 215.56 27.9697C212.16 27.9696 209.5 26.2099 209.5 22.9102C209.5 19.6102 211.95 18.0601 216.97 17.3301C220.26 16.8501 221.67 16.4696 221.67 14.8096C221.67 13.1498 220.139 12.0596 218.02 12.0596C215.28 12.0597 213.95 13.43 213.77 15.8896H210.37C210.48 12.4698 212.73 9.29015 217.97 9.29004ZM236.05 9.29004C241.23 9.29004 244.26 12.8298 244.26 18.8096V19.4902H231.05C231.3 23.0701 233.37 25.1797 236.45 25.1797C238.95 25.1796 240.57 23.8697 241 21.7598H244.34C243.89 25.1297 241.33 27.9697 236.37 27.9697C230.52 27.9697 227.5 23.7202 227.5 18.6104C227.5 13.5004 230.51 9.29014 236.05 9.29004ZM289.05 9.29004C294.23 9.29004 297.26 12.8298 297.26 18.8096V19.4902H284.05C284.3 23.0701 286.37 25.1797 289.45 25.1797C291.95 25.1796 293.57 23.8697 294 21.7598H297.34C296.89 25.1297 294.33 27.9697 289.37 27.9697C283.52 27.9697 280.5 23.7202 280.5 18.6104C280.5 13.5004 283.51 9.29013 289.05 9.29004ZM63.0703 9.28027C67.41 9.28036 70.54 11.13 71.0801 15.8496H67.7998C67.5996 13.1099 65.4997 12.0303 63.0498 12.0303C60.6001 12.0303 59.3605 13.1299 59.3604 14.5098C59.3604 16.3098 60.78 16.8598 63.79 17.5498C66.99 18.2798 70.3604 19.4602 70.3604 22.9902C70.3602 26.52 67.3001 27.9599 63.6104 27.96C59.5104 27.96 56.7705 25.87 56.4805 22.04H59.79C60.0101 24.16 61.3701 25.2998 63.79 25.2998C65.6799 25.2998 66.8895 24.6301 66.8896 23.0303C66.8896 20.9104 64.5001 20.5902 61.9902 19.9902C58.3602 19.1102 55.9404 17.65 55.9404 14.5C55.9404 11.35 58.7303 9.28027 63.0703 9.28027ZM77.9805 23.3799L82.1396 9.58008H85.7803L89.9199 23.3701L93.2305 9.58008H96.6504L92.0098 27.6104H88.3896L83.96 13L79.5303 27.6104H75.8896L71.2305 9.58008H74.6504L77.9805 23.3799ZM118.99 27.6104H115.39V2.0498H118.99V27.6104ZM251.86 9.62012H256.36V12.2998H251.86V21.2598C251.86 23.5598 252.85 24.7305 254.9 24.7305H256.99V27.6104H254.02C250.62 27.6102 248.31 25.47 248.31 21.6904V12.29H244.91V9.61035H248.31V5.41992L251.86 4.80957V9.62012ZM278.37 27.6104H274.77V2.0498H278.37V27.6104ZM29.8398 14.04C30.7598 11.5201 32.3999 9.61044 35.7598 9.61035H38.0996V12.6104H35.96C32.74 12.6104 29.8398 14.1803 29.8398 20.4902V27.5996H26.2598V9.61035H29.8398V14.04ZM194.94 2.5V9.25H194.92V14.8604C195.86 12.0704 197.75 9.24023 201.69 9.24023C205.25 9.24041 207.4 11.4404 207.4 16.2402V27.5996H203.84V16.9199C203.77 13.69 202.87 12.1699 200.59 12.1699C197.77 12.17 195.1 15.2902 194.95 21.5801C194.95 21.7502 194.94 22.4003 194.94 22.5703V27.5898H191.41V9.61035H191.43V2.0498H194.47L194.94 2.5ZM272.14 11.8604L262.82 24.6699H272.45V27.5996H258.16V25.4805L267.63 12.5H258.79V9.57031H272.14V11.8604ZM49.9902 18.4697C48.9802 19.0597 47.5096 19.41 45.8496 19.71C42.8299 20.27 41.3301 21.0404 41.3301 22.8203C41.3303 24.6001 42.8402 25.3604 44.6201 25.3604C47.36 25.3603 49.9803 23.43 49.9805 19.7803H49.9902V18.4697ZM109.08 18.4697C108.07 19.0597 106.6 19.41 104.94 19.71C101.92 20.27 100.42 21.0403 100.42 22.8203C100.42 24.6001 101.93 25.3603 103.71 25.3604C106.45 25.3604 109.07 23.4301 109.07 19.7803H109.08V18.4697ZM221.66 18.4697C220.65 19.0597 219.18 19.41 217.52 19.71C214.5 20.27 213 21.0404 213 22.8203C213 24.6001 214.51 25.3604 216.29 25.3604C219.03 25.3603 221.65 23.4301 221.65 19.7803H221.66V18.4697ZM129.78 12.1602C126.43 12.1602 124.81 15.1298 124.81 18.9297C124.81 22.7297 126.47 25.1796 129.67 25.1797C132.87 25.1797 134.55 22.8201 134.55 18.5703C134.55 14.5604 132.89 12.1603 129.78 12.1602ZM236.11 12C233.17 12 231.54 13.9998 231.12 17.0596H240.72C240.45 14.0499 239.05 12.0002 236.11 12ZM289.11 12C286.17 12 284.54 13.9998 284.12 17.0596H293.72C293.45 14.0499 292.05 12.0002 289.11 12Z"
              fill="currentColor"></path>
          </svg>
        </a>
        <div class="meta">
          <p class="contact h6">
            {footer.contact}
          </p>
          {
            links.map((link) => (
              <span class="link">
                <a href={link.data.slug} class="h6 link-animated">
                  {link.data.title}
                </a>
              </span>
            ))
          }
        </div>
      </div>
      <a href="/" class="symbol" aria-label="Home Graswald & Schaetzle">
        <svg viewBox="0 0 38 24" fill="none" aria-hidden="true">
          <path
            d="M12 24C9.15759 24 6.84241 21.6848 6.84241 18.8424C6.84241 17.914 6.08596 17.1576 5.15759 17.1576C2.31519 17.1576 0 14.8424 0 12C0 9.15759 2.31519 6.84241 5.15759 6.84241C6.08596 6.84241 6.84241 6.08596 6.84241 5.15759C6.84241 2.31519 9.15759 0 12 0C14.8424 0 17.1576 2.31519 17.1576 5.15759C17.1576 8 14.8424 10.3152 12 10.3152C11.0716 10.3152 10.3152 11.0716 10.3152 12C10.3152 12.9284 11.0716 13.6848 12 13.6848C14.8424 13.6848 17.1576 16 17.1576 18.8424C17.1576 21.6848 14.8424 24 12 24Z"
            fill="currentColor"></path>
          <path
            d="M30.8462 18.8424C30.8462 17.914 31.6027 17.1576 32.531 17.1576C35.3734 17.1576 37.6886 14.8424 37.6886 12C37.6886 9.15759 35.3734 6.84241 32.531 6.84241C31.6027 6.84241 30.8462 6.08596 30.8462 5.15759C30.8462 2.31519 28.531 0 25.6886 0C22.8462 0 20.531 2.31519 20.531 5.15759C20.531 8 22.8462 10.3152 25.6886 10.3152C26.617 10.3152 27.3734 11.0716 27.3734 12C27.3734 12.9284 26.617 13.6848 25.6886 13.6848C22.8462 13.6848 20.531 16 20.531 18.8424C20.531 21.6848 22.8462 24 25.6886 24C28.531 24 30.8462 21.6848 30.8462 18.8424Z"
            fill="currentColor"></path>
        </svg>
      </a>
    </div>
  </div>
</footer>

<style lang="scss">
  footer {
    padding-top: to-rem(36);
    padding-bottom: to-rem(24);
    color: var(--c-primary);
    background-color: var(--c-primary-dark);
  }

  .navigation {
    --cols: 5;
    --col-width: calc(
      (100% - (var(--grid-gutter) * (var(--cols) - 1))) / var(--cols)
    );

    grid-column: 8 / span var(--cols);
    grid-row: 1;
    margin-bottom: to-rem(160);

    ol {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: to-rem(16);
      align-items: flex-start;
      list-style-type: none;
      counter-reset: list -1;

      li {
        width: 100%;
        display: flex;
        gap: calc(var(--col-width) + var(--grid-gutter));
        align-items: baseline;
        opacity: 0.5;
        transition: opacity 0.4s var(--ease-smooth);
        counter-increment: list;

        &::before {
          content: counter(list) '.';
          width: 2em;
          margin-left: -2em;
          font-family: var(--ff-secondary);
          font-size: to-rem(12);
          line-height: 1.5;
          letter-spacing: 0;
          transform: translateX(calc(var(--grid-gutter) * -1 - 1em + 2em));
        }

        @include has-hover {
          &:has(a:hover) {
            opacity: 1;
          }
        }

        a {
          position: relative;
          display: flex;
          align-items: center;

          &::before {
            content: '';
            width: 0.25em;
            margin-left: -0.25em;
            aspect-ratio: 11 / 32;
            background-image: inline-svg(
              "<svg viewBox='0 0 11 32' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M11.0001 0.52002L2.29006 31.48H0.810059L9.52006 0.52002H11.0001Z' fill='#B2C598'/></svg>"
            );
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }

  .content {
    --cols: 4;
    --col-width: calc(
      (100% - (var(--grid-gutter) * (var(--cols) - 1))) / var(--cols)
    );

    grid-column: 9 / span var(--cols);
    grid-row: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    .title {
      svg {
        width: to-rem(300);
      }
    }

    .meta {
      width: 100%;
      display: flex;
      gap: var(--grid-gutter);
      align-items: flex-end;

      .contact {
        width: calc((var(--col-width) * 2) + var(--grid-gutter));
        white-space: pre-line;
      }

      .link {
        width: var(--col-width);
      }
    }
  }

  .symbol {
    grid-column: 1 / span 6;
    grid-row: 2;
    max-width: to-rem(610);

    svg {
      overflow: visible;
    }

    path {
      animation: symbol1 6s var(--ease-snappy) 0s infinite normal forwards;

      &:nth-child(1) {
        transform-origin: 25% 50%;
        animation-name: symbol1;
      }

      &:nth-child(2) {
        transform-origin: 75% 50%;
        animation-name: symbol2;
      }
    }
  }

  @keyframes symbol1 {
    0% {
      transform: translateX(0%) rotate(0deg);
    }

    25%,
    50% {
      transform: translateX(50%) rotate(-180deg);
    }

    75%,
    100% {
      transform: translateX(0%) rotate(-360deg);
    }
  }

  @keyframes symbol2 {
    0% {
      transform: translateX(0%) rotate(0deg);
    }

    25%,
    50% {
      transform: translateX(-50%) rotate(-180deg);
    }

    75%,
    100% {
      transform: translateX(0%) rotate(-360deg);
    }
  }
</style>
