---
import '../styles/index.scss';

import { general, generalDe } from '@content/globals';

import Header from '@components/Header.astro';
import Menu from '@components/Menu.astro';
import Footer from '@components/Footer.astro';
import Splash from '@components/Splash.astro';

const { pageTitle } = Astro.props;

const locale = Astro.currentLocale;

const generalData = locale === 'de' ? generalDe : general;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const title = `${pageTitle ? pageTitle + ' | ' : ''}${generalData.siteTitle}`;
const description = generalData.siteDescription;
const shareImage = new URL(generalData.siteImage.src, Astro.url);
---

<script>
  import { scrollStop } from 'src/scripts/scroll';

  scrollStop();
</script>

<html lang={locale || 'en'}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#EAE2DA" />
    <title>{title}</title>
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={canonicalURL} />

    <script>
      if ('scrollRestoration' in history) {
        history.scrollRestoration = 'manual';
      }
      window.scrollTo(0, 0);
    </script>

    <!-- <meta name="robots" content="noindex, nofollow" /> -->
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={shareImage} />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content={locale} />
    <meta property="og:url" content={canonicalURL} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={shareImage} />
    <link
      rel="preload"
      href="/fonts/sneak-regular/Sneak-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/sneak-mono/Sneak-Mono.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <script
      is:inline
      defer
      src="https://tracking.jnkl.dev/script.js"
      data-website-id="fd3d7745-debf-4f4c-882b-11fcaa23d938"
      data-domains="graswald-schaetzle.com"
      data-do-not-track="true"></script>
    <meta
      name="google-site-verification"
      content="dDiMB2kJvCvmsq7rR88E4scaX0np4zAcW2DBrrrzmcE"
    />
  </head>
  <body>
    <Header />

    <Menu />

    <slot />

    <Footer />

    <Splash />

    <script>
      import '../scripts/scroll.ts';
      import '../scripts/nav.ts';
      import '../scripts/console.ts';
    </script>
  </body>
</html>
